@font-face {
    font-family: 'promptpay';
    src: url('../fonts/Prompt-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'promptpay';
    src: url('../fonts/Prompt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'promptpay';
    src: url('../fonts/Prompt-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
  font-family: 'Kozuka';
  src: 
    url('../fonts/KozukaGothicBold.otf')  format('opentype'),
    url('../fonts/KozukaGothicBold.woff') format('woff'), 
    url('../fonts/KozukaGothicBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}