@charset "UTF-8";

/*
Theme Name: Cmatch thailand
Theme URI: https://c-point.co.th
Author: Wishvisit (Dai)
Author URI: https://c-point.co.th
Description: Cmatch frontend template. all about front-end images,css,text,language and templates
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 1.2
Text Domain: cmatch
*/
@font-face {
    font-family: 'promptpay';
    src: url('./assets/fonts/Prompt-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'promptpay';
    src: url('./assets/fonts/Prompt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'promptpay';
    src: url('./assets/fonts/Prompt-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
  font-family: 'kozuka';
  src: 
    url('./assets/fonts/KozukaGothicBold.otf')  format('opentype'),
    url('./assets/fonts/KozukaGothicBold.woff') format('woff'), 
    url('./assets/fonts/KozukaGothicBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/** general**/

.v-center {
    align-self: center;
}
.v-top{
    align-self: flex-start;
}
.font-kozuka{
    font-family: 'kozuka';
}
.font-prompt{
    font-family: 'prompt';
}
/*flex only*/

img {
    width: 100%;
    height: auto;
}

.clear {
    clear: both
}

.hidden {
    display: none;
}
button.translate-button {
    color: #999;
    background: transparent;
    border: none;
    font-family: prompt,kozuka;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
    padding-right: 12px;
    border-right: 3px solid #999;
    line-height: 14px;
    display: inline-block;
    cursor: pointer;
}
a.logout-button,a.logout-button:hover { 
    color : #999;
    text-decoration : none;
}
.col-8.summary-answer {
    word-break: break-word;
    margin-bottom: 5px;
    border-bottom: 1px dotted;
}

.col-4.lang-tag {
    margin-bottom: 5px;
    border-bottom: 1px dotted;
}
button.translate-button:last-child {
    border: none;
}

button.translate-button:hover {
    color: #666;
}
section#desktop-top-menu:after {
    content: "";
    display: block;
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    padding-top: 5px;
    position: relative;
    margin-top: 10px;
}

section#desktop-top-menu {
    padding-top: 10px;
    position: sticky;
    z-index: 2;
    top: 0;
    background: white;
}
footer.c-matching-footer img {
    max-width: 200px;
    margin: auto;
    display: block;
}

footer.c-matching-footer {
    padding-bottom: 30px;
}

footer.c-matching-footer:before {
    content: "";
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    padding-top: 5px;
    z-index: 1;
    display: block;
    margin-bottom: 30px;
}
@media (max-width: 768px) {

}