#register-bar{
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    padding-top: 30px;
    padding-bottom: 10px;
}
section#register-login h2 {
    margin-top: 35px;
    font-family: prompt;
    margin-bottom: 35px;
    font-size: 25px;
}

#register-bar .thaiflag{
    max-width: 80px;
    margin: 15px auto 0;
    display: block;
}
h2.form-section-title {
    color: #66cc33;
    margin-top: 40px;
    font-size: 24px;
}
button#form-submit {
    margin: auto;
    position: relative;
    display: block;
    padding: 5px 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    background: white;
    color: black;
}

button#form-submit:before {
    content: "";
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    display: block;position: absolute;top: -1px;left: -1px;bottom: -1px;right: -1px;border-radius: 10px;border: transparent;z-index: -1;}
button#form-submit:hover {
    background: transparent;
    color: white;
}
.form-control2{
	    display: block;
    padding: .375rem -1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 1px solid #ced4da;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
.bg1{padding: 10px 0px;}
.bg2{background: #eee;padding: 10px 0px;}
button#form-submit:hover{background: #0d95d8;}