.w-auto{width: auto}
.center{margin: 0 auto;display: table}
.txt-center{text-align: center}
.thankyou h1{font-size: 5rem;font-weight: bold;}
.thankyou h3{letter-spacing: 3px;}
#register-bar{
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    padding-top: 60px;
    padding-bottom: 30px;
}
section#register-login h2 {
    margin-top: 35px;
    font-family: prompt;
    margin-bottom: 35px;
    font-size: 25px;
}

#register-bar .thaiflag{
    max-width: 80px;
    margin: 15px auto 0;
    display: block;
}
.event-name {
    font-size: 30px;   
	color: #00bbee;
}