@font-face {
    font-family: 'prompt-semi';
    src: url('../fonts/Prompt-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'prompt-light';
    src: url('../fonts/Prompt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'prompt-extralight';
    src: url('../fonts/Prompt-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'prompt-regular';
    src: url('../fonts/Prompt-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
  font-family: 'Kozuka';
  src: 
    url('../fonts/KozukaGothicBold.otf')  format('opentype'),
    url('../fonts/KozukaGothicBold.woff') format('woff'), 
    url('../fonts/KozukaGothicBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
img {
  max-width: 100%; 
  display: inline-block;
}
ul li {
    list-style: none;
}
.right{position: absolute;right: 0}
.center{margin: 0 auto;display: block}
.prompt-semi{font-family: 'Prompt-semi', sans-serif;}
.prompt-regular{font-family: 'Prompt-regular', sans-serif;}
.prompt-extralight{font-family: 'Prompt-extralight', sans-serif;}
.prompt{font-family: 'Prompt-light', sans-serif;}
.green1{color:#66cc33;}
.gray1{color: #666666}
.bg-white{background: white}
.w-50{width: 50%;}
.navbar-nav li {
    ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.navbar-nav li a {
    font-family: prompt-extralight;
    color: #666;
    font-size: 15px;
}
.navbar-nav li:nth-child(6) {
    text-align: right;
}
.navbar-nav li a:hover{
	font-family: prompt-semi;
	text-decoration: none;
}
.navbar-expand-lg{float: right}
.mobile{display: none}
@media only screen and (max-width: 768px) {
	.navbar-nav li:nth-child(6),nav.lang-swich  {text-align: left!important}
	.desktop{display: none}
	.mobile{display: block}
	button.navbar-toggler{position: absolute;right: 0;top: 0;}
	.collapse.show{
		position: absolute;top: 50px;    
		background: white;
		padding: 10px 10px;
		right: 0;
		box-shadow: 3px 2px 1px 1px #eee;
		border-radius: 10px;
		border: 1px solid #ccc;
	}
	.navbar-light .navbar-toggler{position: absolute;top: -12px;}
}
