section#register-sponcer img {
    max-width: 350px;
}

h2.sponcer-title {
    font-weight: bold;
    color: #666;
}

section#register-sponcer {
    padding: 60px 0;
}

section#matching-details {
    background: rgb(0,187,238);
    background: linear-gradient(180deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    padding-top: 60px;
    padding-bottom: 60px;
}

.shake-hand{
    width: 70px;
}
#matching-details .small-logo img{
    width: 30px;
}
h2.matching-details-title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 45px;
}
section#matching-details p {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
section#matching-details p.matching-description {
    font-weight: normal;
    width: 80%;
    display: inline-block;
    max-width: 750px;
}

section#register-section img {
    width: 70px;
}
button.register-button {
    font-family: promptpay;
    color: #666;
    border: none;
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 5px 30px;
}

button.register-button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    margin: -1px;
    border-radius: 10px;
}
p.register-label {
    margin-top: 15px;
    font-weight: bold;
    color: #666;
    letter-spacing: 1px;
}
button.register-button:hover {
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgba(28,100,187,1) 100%);
    color: white;
}
section#register-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.register-title {
    margin-bottom: 70px;
    color: #666;
}
section#how-to {
    background: #f3f3f3;
    padding-top: 90px;
    padding-bottom: 90px;
}
section#how-to img {
    width: 100px;
}
.how-to-title1 {
    font-weight: bold;
    color: #66cc33;
}

.how-to-title2 {
    color: #666;
    display: block;
    margin-bottom: 60px;
}
h4.how-to-subtitle {
    font-size: 15px;
    font-weight: bold;
    color: #66cc33;
    margin-top: 15px;
    display: block;
    height: 60px;
    letter-spacing: 1px;
}
p.how-to-description {
    font-family: promptpay;
    font-weight: lighter;
}
