section.home-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-family: promptpay;
    font-weight: bold;
    color: #666666;
}

.section-title:before {
    content: "-";
    margin-right: 10px;
}

.section-title:after {
    content: "-";
    margin-left: 10px;
}

.home-logo {
    width: 260px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 150px;
}

.home-sublogo-img {
    width: 83px;
    display: inline-block;
}

.home-sublogo p {
    margin: 0;
    color: #666666;
}

h4.home-about-header {
    text-align: center;
    color: #66cc33;
    font-family: promptpay;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
div#home-about-img {
    margin-bottom: 30px;
}
div#home-about-text p {
    color: #666666;
}

section.home-section .container {

    border-bottom: 1px solid #666666;
}

img.benefit-img,.whyus-img{
    max-width: 75px;
    display: block;
    margin: auto;
}

p.benefit-content,p.whyus-content {
    color: #666666;
}

h3.benefit-subtitle {
    font-weight: bold;
    color: #66cc33;
    min-height: 66px;
}
section#home-before-feed:after {
    content: "";
    width: 100%;
    background: url("../images/bg-3.png") ;
    background-size: cover;
    display: block;
    height: 180px;
    position: relative;
    margin-top: -178px;
}
section#home-last-event:after {
    content: "";
    width: 100%;
    background: url("../images/bg-4.png") top;
    background-size: cover;
    display: block;
    height: 180px;
    position: relative;
}
#home-last-event button {
    background: #fff;
}
#home-last-event button:hover {
    background: #66cc33;
    color: white;
    border: 0;
}
section#home-whyus {
    padding-top: 60px;
}
section#home-before-feed {
    padding-top: 60px;
}
section#home-coming-event, section#home-last-event, section#home-register {
    background: #f3f3f3;
}
img.upcoming-img,img.pastevent-img {
    display: inline-block;
    margin-bottom: 20px;
    width: fit-content;
}
section#home-before-feed {
    padding-top: 60px;
}

img.before-feed {
    width: 80%;
    margin: auto;
    display: block;
    max-width: 500px;
}
h2.feed-title {display: inline;color: #66cc33;margin: 0;}
.newreq-img img {
    max-width: fit-content;
}
section#home-newreq:after{
    content: "";
    width: 100%;
    background: url("../images/bg-3.png") ;
    background-size: cover;
    display: block;
    height: 180px;
    position: relative;
}
section#home-newreq {
    padding-top: 100px;
}
#home-register a:hover{
	background-image: url('../images/C Match-69.png');
	
}
#home-register .row > div:nth-child(1){border-right: 1px solid #ccc;}
button.newreq-button {
    background: transparent;
    padding: 10px 30px;
    border: 1px solid #666666;
    border-radius: 10px;
    cursor: pointer;
    font-family: promptpay;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#home-newreq .btn-light:hover{    
	background: #73bf44;
    color: white;
}
section#home-footer-text {
    background: #f3f3f3;
    padding: 50px 0;
}
#home-footer-text  ul li{    
	padding: 0px 6px;
}
video#home-bg {
    width: 100%;
    position: absolute;
    height: auto;
    min-width: 100%;
    max-height: 770px;
}

section#home-title {
    min-height: 700px;
    margin-bottom: 120px;
    background: #f3f3f3;
}
section#home-title:after {
    content: "";
    width: 100%;
    background: url(../images/bg-4.png);
    background-size: cover;
    display: block;
    height: 180px;
    position: relative;
    top: 2vw;
}
.flag{width: 30%}
.register-button {
    color: black;
    border: 2px solid transparent;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
    position: relative;
    background-clip: padding-box;
    box-sizing: border-box;
}

a.register-button:before {
    background: rgb(0,187,238);
    background: linear-gradient(90deg, rgba(0,187,238,1) 0%, rgb(0 0 0) 100%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    margin: -2px;
}

a.register-button span {
    position: relative;
    background: white;
    padding: 10px 20px;
    border-radius: inherit;
    width: 100%;
    display: inline-block;
}

a.register-button span:hover {
    background: transparent;
    color: white;
}
@media only screen and (max-width: 768px) {
	h3.benefit-subtitle,h2.feed-title,h4.newreq-title {font-size: 20px;}
	.home-before-feed-img {padding-bottom: 45%;}
	section#home-newreq:after {height: 0px;}
	.w-50{width: 80%!important}
	.flag {width: 50%;}
}